* {
    text-align: center;
    /* border: 1px solid red;
    box-sizing: border-box;   */
}

:root {
    --headerFooterBackground : lightblue;
    --headerFooterText : white;
}
body{
    background-color: blue;
}
#formContainer {
    /* min-height: 20vw; */
    width: 100%;
    background-color: lightyellow;
    position: relative;
    height: 50px;


}

#newPost{
    width: 50%;
    position: absolute;
    right:200px;
    top: 10px
    

}
#submitID{
    position: absolute;
    right: 155px;
    top:10px;

}

nav {
    align-items:center; 
    position: fixed;
    top: 0;
    background-color: var(--headerFooterBackground);
    color: var(--headerFooterText)
}

body {
    display: flex;
    flex-direction:column;
    justify-content: center;
}


/* #timeline {
    min-height: 80vw;
} */

#originalPosts {
    background-color: lightgray;
}

li {
    list-style: none;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--headerFooterBackground);
    color: var(--headerFooterText);
    text-align: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}
    
footer ul li {
    
    display:inline;
    list-style: none;
    padding-right: 20px;
}
  
footer ul li a {
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.header-nav ul {
    display: flex;
}
  
.header-nav ul li {
    padding-right: 5px;
}
  
#sign-in {
    color: white;
    background-color: #4285f4;
    border-color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3%;
}
/* main {
    width :75%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto 

    
} */

.negativeBtn{
    background-color: red;
}

.positiveBtn {

    background-color: green;
}

.reply-div{
    border: 1px solid purple;
}

.reply-text-box{
    width: 50%;
    height: 25px;
}
#originalPosts ul {
    background-color: black;
    width: 100%

}

.post-on-thread{
    border: 1px solid purple;
    
}
